<!DOCTYPE html>
<html>
<head>
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="top-nav">
    <div class="logo">AI Medical Platform</div>
    <div class="nav-right">
        <span class="role">Patient</span>
        <a href="/logout" class="logout">Logout</a>
        <a href="/patient/profile" class="btn">My Profile</a>

    </div>
</header>

<div class="card">
    <h2>Welcome, Patient</h2>
    <p>Access AI-based medical predictions and consultation services.</p>

    <ul class="dashboard-list">
        <li>Enter Symptoms</li>
        <li>View AI Predictions</li>
        <li>Book Doctor Consultation</li>
        <li>View Payment History</li>
    </ul>
</div>

</body>
</html>
