<!DOCTYPE html>
<html>
<head>
    <title>Patient Registration</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="top-nav">
    <div class="logo">AI Medical Platform</div>
</header>

<div class="card">
    <h2>Patient Registration</h2>

    <form method="post" action="/register">

        <input type="text" name="name" placeholder="Full Name" required>

        <input type="number" name="age" placeholder="Age" min="1" required>

        <select name="gender" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Other">Other</option>
        </select>

        <input type="email" name="email" placeholder="Email address" required>

        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Register</button>
    </form>

    <p class="small-text">
        Already registered? <a href="/login?role=patient">Login here</a>
    </p>
</div>

</body>
</html>
